body {
  background: #fcfcfc;
  padding-top: 90px;
}

tbody>tr>td {
  height: 60px;
  cursor: grab;
}

.pointer {
	cursor: pointer;
}

#jokers-panel {
  margin-top: 214px;
}

ul > li:hover {
  padding-right: 2rem;
}
